/ExCatHipo.java
/ExemploDoWhile.java
/ExemploFor.java
/ExemploWhile.java
/Exercicio5.java
/Exercicio6ifanin.java
/Exercicio6ifelsif.java
/Exercicio7.java
/Exercicio8.java
/ExNumDiv4.java
/ExNumerosInteiros.java
/ExNumImpar.java
/ExNumImpFor.java
/ExSigma.java
/Fatorial.java
/IfElse.java
/IfElseEncadeado.java
/IfSimples.java
/Livraria.java
/NumeroPrimo.java
/NumeroReversos.java
/Numeros.java
/ParMaximo.java
/SegundoGrau.java
/SwitchCase.java
/SwitchCase2.java
/Ternario.java
/Teste.java